<div id="container" style="margin:auto; text-align: center;">
  <% @users.each do |username, paths| %>
    <div class="user" id="<%= username %>">
      <div class="username">
        <%= username %>
      </div>
      <div class="pictures">
        <% paths.each do |path| %>
          <img src="<%= path %>"/>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
