<div id="container" style="margin:auto; text-align: center;">
  <% @users.each do |username, url| %>
    <a href="http://www.okcupid.com/profile/<%= username %>" target="_blank">
      <img src="<%= url %>"/>
    </a>
  <% end %>
</div>
