<div id="container" style="margin:auto; text-align: center;">
  <% @users.each do |username, paths| %>
    <% paths.each do |path| %>
      <a href="http://www.okcupid.com/profile/<%= username %>" target="_blank">
        <img src="<%= path %>"/>
      </a>
    <% end %>
  <% end %>
</div>
