<div id="container" style="margin:auto; text-align: center;">
  <ul class='list' last="0">
    <li class='template'>
      <a href="http://www.okcupid.com/profile/" class="Profile_URL" target="_blank">
        <img src="" class="Image_URL"/>
      </a>
    </li>

    <div id="infinite-scroll"></div>
  </ul>
</div>
