<div class="beta_box">
  <p>
    we've got things on lock down 
    <br />
    while we test a new way to browse people 
    <br />
    ... 
    <br />
    but if you're impatient reach out. 
    <br />
    <br />
    <a href="http://twitter.com/smasher5">@smasher5</a>
  </p>
</div>