<script id="locations" type="text/json">
  <%= @locations.to_json %>
</script>

<script id="body_types" type="text/json">
  <%= @body_types.to_json %>
</script>

<script id="image_paths" type="text/json">
  <%= @users.to_json %>
</script>

<div id="header" class="navbar navbar-fixed-top">
  <div class="header_text">
    FindByImage
  </div>
  <select id="select_location">
    <option>All</option>
  </select>
  <select id="select_body_type">
    <option>All</option>
  </select>
</div>
<div id="container" style="margin:auto; text-align: center;">
  <ul id="pictures" last="42">
    <li data-template>
      <div class="picture tipper" original-title="{{[0]}}">
        <a href="#" class="hide">Hide</a>
        <a href="http://www.okcupid.com/profile/{{[0]}}" target="_blank">
          <img src="img/grey.gif" data-src="{{[1]}}" width="160" height="160"/>
        </a>
      </div>
    </li>
  </ul>
</div>
