<div class="login_field">
  <p>To give you the best experience please provide your details</p>
  <form method="POST" action="/pass">
    <table>
      <tr class='titles'>
        <td>
          <label for='username'>Username</label>
        </td>
        <td>
          <label for='password'>Password</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id='username' name="username">
        </td>
        <td>
          <input type="password" id='password' name="password">
        </td>
      </tr>
    </table>
    <input type="submit" value="let's rock" />
  </form>
</div>